body {
    background-color: #f8f9fa !important;
}
/*inicio do nav-bar*/
.navbar-toggler-icon {
    font-size: 0.75rem; 
    margin-bottom: 4px;
}
nav.navbar {
    background-color: #ffffff !important;
    z-index: 2;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.151);
}
.nav-link{
    margin-left: 2vh;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}
a:hover {
    color: #007bff;
}
.active{
    color: #007bff;
}
#user{
    font-size: 25px;
}
.logo{
    width: 35px;
}
.navbar-brand{
    font-size: 18px;
}

/*inicio do conteudo do body*/
.floating-select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-select {
    display: inline-block;
    margin-right: 10px;
    position: relative;
} 
.floating-select {
    flex: 1 1 auto;
    max-width: 12%;
    width: 220px;
     top: 100px; 
    left: 300px;
}
.table {
    position: relative; 
    z-index: 1;
    margin-top: 110px;
}
thead{
    background-color: #F2F2F2;
}
#table th:nth-child(2), #table td:nth-child(2){
    text-align: left;
}
.custom-container {
    background-color: #ffffff;
    height: 100%;
    border-radius: 5px; 
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-container table {
    border-radius: 5px; 
}
td>i{
    font-size: 20px;
    margin: 5px;
}
.template-btn{
    background-color: #28a745 !important;
    color: white;
}